 /*-- Reset Rule --*/
 * {
   border: 0;
   margin: 0;
   padding: 0;
  }

 article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
   display:block;
  }

 body{
    font-family: 'Baskerville';
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo{
    max-width: 200px;
    align-items: center;
    padding-top: 20px;
  }

  form {
    padding-top: 15px;
    padding-bottom: 5px;
  }

  input[type=text], #search-text{
    border: 2px solid #000000;
    width:  190px;
    height: 37px;
    font-family: #000000 'Baskerville';
    font-size: medium;
    padding-left: 5px;
  }

  .text-container{
    text-align: center;
  }

  .text-label{
    font-family: #000000 'Baskerville';
    font-size:medium;
  }

  #search-options{
    border: 2px solid #000000;
    width: 90px;
    height: 43px;
    text-align: center;
    font-family: #000000 'Baskerville';
    font-size: medium;
  }

  .option-container{
    padding-top: 8px;
    text-align: center;
  }

  .button{
    width: 200px;
    height: 40px;
    background-color: #99cccc;
    border:4px solid #F89938;
    color: #000000;
    font-weight: 600;
    text-align: center;
    font-family: 'Baskerville';
    font-size: large;
  }

  .button-container{
    padding-top: 20px;
    text-align: center;
  }

  .button:hover{
    background-color: #f89938;
  }
  
  .bookshelf{
    max-width: 100%;
    height: auto;
    padding-top: 15px;
  }
    
  #results {
    display: flex;
    flex-flow:wrap;
    justify-content:center;
    align-items: center;
    max-width: 1100px;
  }

  .book {
    padding: 20px;
    width: 300px;  
    height: 500px;
  }

  .info {
    max-width: 300px;
    color: #000000;
    font-weight: 600;
    background-color: #dddddd;
    height: 500px;
    padding: 5px;
    padding-left: 4%;
    padding-top: 3%;
    border: 2px solid #000000;
    text-align: left;
  }

  #bkcover {
    padding-left: 70px;
  }

  p {
    padding: 4px;
  }

  .buylink {
    border: 2px solid #F89938 ;
    background-color: #99cccc;
    color: #000000;
    padding-left: 4px;
    font-weight: 800;
    padding: 2px;
  }

  .descbutton-container {
    padding-top: 25px;
    padding-left: 68px;

  }

  .descmodal{
    display: none;
    position: relative;
    z-index: 1;
    transform: translate(-12.5%, -120%);
  }
  
  .desccontent{
    background-color: #99cccc;
    color: black;
    border: 2px solid #F89938;
    padding: 0px 20px;
    overflow: auto;
    width: 300px;
    height: 300px;
    font-family: 'Baskerville';
    text-align: left;
  }
    
  .close:hover, .close:focus{
    color: #f89938;
    cursor: pointer;
  }
    
  .close{
    font-size: xx-large;
  }

  .descbutton{
    width: 130px;
    height: 30px;
    background-color: #99cccc;
    border:2px solid #F89938;
    color: #000000;
    font-weight: 600;
    text-align: center;
    font-family: 'Baskerville';
  }
   
  .descbutton:hover{
    background-color: #f89938;
  }

  .googlelogo{
    padding-top: 5px;
  }
